@model IEnumerable<ClinicaVeterinaria.Web.Models.Entidades.Animal>

@{
    ViewData["Title"] = "Listar Pets";
}

<h1>Meus Pets</h1>

<p>
    <a asp-controller="Animal" asp-action="FormCadastroAnimal">Cadastrar novo animal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdadeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geriatria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeAnimal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdadeAnimal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoriaAnimal)
                    </td>
                    <td>
                        @{
                            var geriatria = Convert.ToString(item.Geriatria);
                            if (item.Geriatria == false)
                            {
                                geriatria = "Não";
                                @Html.DisplayFor(modelItem => geriatria)
                            }
                            else
                            {
                                geriatria = "Sim";
                                @Html.DisplayFor(modelItem => geriatria)
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Deletar", "DeletarAnimal", new {animalId = item.AnimalId})
                    </td>
                </tr>
            }
        }
        else
        {
            <h3>
                Você ainda não possui Pets cadastrados em nossa loja
            </h3>
        }
    </tbody>
</table>
